{% extends "layout.html" %}
{% block content %}

        <div class="authButtons">
            <button onclick="showForm('login')">Login</button>
            <button onclick="showForm('signup')">Sign Up</button>
            {% if error %}
            <p class="error">{{ error }}</p>
            {% endif %}
        </div>


        <div id = loginForm class="formContainer">
            <form action="{{ url_for('login') }}" method="post">
                <h2>Login</h2>

                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <button type="submit">Login</button>
                <label>
            </form>
        </div>

        <div id = signupForm class="formContainer">
            <form action="{{ url_for('signup') }}" method="post">
                <h2>Create Account</h2>

                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

                <a href="/gen_pw"><button type="button">Generate Strong Password</button></a>

                <button type="submit">Create Account</button>
            </form>
        </div>

        <script>
        function showForm(type) {
            document.getElementById("loginForm").classList.remove("visible");
            document.getElementById("signupForm").classList.remove("visible");

            document.getElementById(type === "login" ? "loginForm" : "signupForm")
                .classList.add("visible");
        }
        
        {% if strong_pw %}
        window.onload = function() {
            document.getElementById("psw").value = "{{ strong_pw }}";
            document.getElementById("signupForm").classList.add("visible");
        }
        {% endif %}

    </script>
{% endblock %}
