<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css?foo={{ range(1, 100000) | random }}" type="text/css"/>
</head>
    <body>

        <div class="labInfo" style="padding-right:16px">
            <h1>CS 2660 Lab 09</h1>
            <h2>Jonathan Freed</h2>
        </div>

        {% if loggedIn %}
        <header>
            <nav>
                <a href="/accounting?uname={{ user }}">Accounting</a>
                <a href="/admin?uname={{ user }}">Admin</a>
                <a href="/it_help?uname={{ user }}">IT</a>
                <a href="/time_reporting?uname={{ user }}">Time Reporting</a>
                <a href="/engineering?uname={{ user }}">Engineering</a>
                <a href="/login?uname={{ user }}">Home</a>
                <a href="/">Log out</a>
            </nav>
        </header>
        {% endif %}

        <div id="content">
            <h2>{{ heading }}</h2>
            {% block content %}{% endblock %}
        </div>

        <footer>
            <strong>University of Vermont</strong><br />CS2660 - Cybersecurity Principles
        </footer>

    </body>
</html>